@page "/donate"

<h3>Donate/Tips</h3>
<p>I've gotten so many emails for this, so I thought I'd add this section</p>
<p>Please do not feel like you have to. I do not do this for the money. I just like solving problems</p>
<p>CashApp: <strong>$mt76q</strong></p>
<p>PayPal: &lt;coming soon...&gt;</p>
