@page "/"
@using BlazorInputFile
@using server.Data
@inject IFileUpload fileUpload
@inject IJSRuntime js

<h3>Upload File Here</h3>
<InputFile OnChange="HandleFileSelected"/>

@if (file is IFileListEntry)
{
    <section>
        <p>Read Success</p>
        <p>you uploaded @file.Name</p>
        <p><b>now click "Get New XML" to download the new (hopefully) un-corrupted file</b></p>
    </section>
}
<section>
    <button @onclick="@ProcessFileAsync">Get New XML</button>
</section>
<section>
    <p>raw XML for your reference</p>
    <textarea cols=80 rows=80 id="res" value="@result"/>
</section>
@code {
    private IFileListEntry file;
    private System.IO.MemoryStream filestream;
    private string result = "";
    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file is IFileListEntry)
        {
            filestream = (System.IO.MemoryStream)await fileUpload.UploadAsync(file);
        }
    }

    async Task ProcessFileAsync()
    {
        result = await Fix.FixCorruptXmlAsync(filestream);

        await js.InvokeAsync<object>("FileSaveAs", "", result);
    }
}